# Defaults to rabbit. This can be useful if you want to run more than one node
# per machine - RABBITMQ_NODENAME should be unique per erlang-node-and-machine
# combination. See the clustering on a single machine guide for details:
# http://www.rabbitmq.com/clustering.html#single-machine
#
NODENAME=rabbit
HOSTNAME={{ rabbitmq_hostname }}
NODE_IP_ADDRESS={{ rabbitmq_bind_address }}
NODE_PORT={{ rabbitmq_port }}
USE_LONGNAME={{ rabbitmq_use_fqdn }}
